/* CARD */
.card-review{
border-radius:20px;
box-shadow:0 15px 40px rgba(0,0,0,0.1);
border:none;
background:white;
padding:30px;
}
/* TITLE */
.title{
font-weight:700;
text-align:center;
margin-bottom:5px;
}
.title span{
color:var(--green);
}
/* INPUTS */
.form-control{
height:45px;
border-radius:10px;
}
/* TEXTAREA */
textarea.form-control{
height:100px;
resize:none;
}
/* STARS */
.stars{
font-size:28px;
cursor:pointer;
margin-top:5px;
}
.star{
color:#ddd;
margin-right:5px;
transition: 0.2s;
}
.star:hover{
color:#ffc107;
transform: scale(1.1);
}
.star.active{
color:#ffc107;
}
.signin-link {
    color: var(--green);
    font-size:13px;
    text-decoration:none;
}
.text-green {
  color: var(--green);
}
/* REVIEW CARDS (colonne gauche) */
.review-card {
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  padding: 1rem;
  margin-bottom: 1rem;
}
.review-stars {
  color: #ffc107;
}